.Rproj.user
.Rhistory
.RData
.Ruserdata

*.dat 

data/raw/
data/processed/

scripts/archive/

scripts/mplus_models/*/*/*.dat
scripts/archive/mplus_models/*/*.dat
scripts/archive/mplus_models/*/*/*.dat